<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HumanRelationV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46CFBCB71CE0AB8500390052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46CFBCCB1CE0AB8600390052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46CFBCD61CE0AB8700390052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
